@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-primaria: #c87e6b;
    --cor-secundaria: #6b502c;
    --cor-terciaria: #ddc57c;
    --cor-botao: #454545;
    --cor-titulo: #484a4b;
    --cor-subtitulo: #765a33;
    --cor-paragrafo: #765a33;
    --cor-footer: #424242;
    --cor-container: #e7e4da;

}
.container {
    max-width: 1250px;
    margin: 0 auto;
    background-color: var(--cor-container);
}
/*menu*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #eeeadc;
}
ul {
    margin: 0px;
    padding: 0px;
}
header img {
    max-width: 200px;
    display: block;
}
a {
    color: var(--cor-container);
    text-decoration: none;
    font-family: sans-serif;
}
a:hover {
    color: rgba(0, 0, 0, 0.5);
}
#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
}
#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile {
    display: none;
}
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--cor-secundaria);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden; 
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer {
        border-top: 2px solid var(--cor-container);
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: var(--cor-container);
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
/*titulos e textos*/
.titulo-h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--cor-titulo);
    text-align: center;
    padding-bottom: 1rem;
}
.titulo-h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--cor-titulo);
    text-align: center;
    padding-bottom: 1rem;
}
.titulo-h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--cor-titulo);
    text-align: center;
    padding-bottom: 1rem;
}
.titulo-h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--cor-titulo);
    text-align: center;
    padding-bottom: 1rem;
}
.titulo-h5 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--cor-container);
    padding-bottom: 1rem;
}
.subtitulo {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--cor-subtitulo);
    text-align: center;
    padding-bottom: 1rem;
}
.paragrafo {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--cor-paragrafo);
    text-align: justify;
    max-width: 50ch;
    padding-bottom: 1rem;
}
.infos-content-num {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    display: block;
}
.infos-content {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    display: block;
}
/*botões*/
.botao-padrao {
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--cor-container);
    background-color: var(--cor-botao);
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.botao-padrao:hover {
    background-color: var(--cor-titulo);
   
}
.botao-especial-1 {
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--cor-botao);
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 1rem;
}
.botao-especial-1:hover {
    background-color: white;
}
/*imagens*/
.img-content {
    display: block;
    max-width: 100%;
    height: auto;
}
/*sessoes*/
.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-left: 1rem;
    gap: 1rem;
    background: url(img/deco-folha-left.svg) no-repeat bottom left;
}
.section-1-content {
    display: grid;
    justify-items: center;
}
@media (max-width: 700px) {
    .section-1{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        padding: 1rem;
        gap: 1rem;
    }
}
.infos {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
}
@media (max-width: 600px) {
    .infos {
        justify-items: center;
    }
}

.content-scroll-lateral {
    height: 560px;
    display: grid;
    grid-template-columns: repeat(4, 294px);
    gap: 60px;
    justify-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 2rem;
}
.content-mais-vendidos {
    padding: 3rem 1rem;
}
.content-produtos {
    height: 520px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}
.content-produtos-grid {
    display: grid;
    justify-items: center;
    padding: 0 1rem;
}
.coracao {
    margin-left: 1rem;
}
.content-video h2 p {
    padding: 0 1rem;
    text-align: center;
}
.video-aula {
    position: relative;
    padding-bottom: 56%;
}
.video-aula iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.content-desconto {
    background-color: var(--cor-terciaria);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;

}
.desconto {
    display: grid;
    justify-items: center;
}
.desconto-oferta {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--cor-container);
    background-color: var(--cor-botao);
    padding: 8px;
    border-radius: 60px;
    text-align: center;
}
.desconto-numero {
    font-family: Impact, sans-serif;
    font-size: 9rem;
    color: var(--cor-botao);
    margin: 0 20px;
}
.desconto-descricao {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: var(--cor-botao);
    text-align: center;
}
@media (max-width: 700px) {
    .content-desconto {
        grid-template-columns: 1fr;
        padding: 0;
    }
    .desconto {
        padding: 1rem;
    }
    .desconto-numero {
        font-size: 6rem;
    }
    .desconto img {
        max-height: 70px;
    }
}
.leiamais-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    padding: 5rem;
}
.leiamais-content h2 {
    text-align: left;
    margin-top: 1rem;
}
@media (max-width: 700px) {
    .leiamais-content {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .leiamais-img {
        grid-area: -2;
    }
}
/*formulario*/
.formulario form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}
.formulario p {
    text-align: center;
    max-width: none;
    margin: 0 1rem;
}
input[type="text"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 60px;
    box-shadow: 5, 5, 5, #424242;
    padding-left: 15px;
    box-sizing: border-box;
}
input[type="email"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 60px;
    box-shadow: 5, 5, 5, #424242;
    padding-left: 15px;
    box-sizing: border-box;
}
#mensagem {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 5, 5, 5, #424242;
    padding: 15px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
input[type="submit"] {
    margin: 0 auto 20px auto;
    border: none;
    border-radius: 60px;
    box-shadow: 5, 5, 5, #424242;
    padding: 8px 15px;
    box-sizing: border-box;
    color: var(--cor-container);
    background-color: var(--cor-primaria);
    text-transform: uppercase;
}
/*rodape*/
.rodape {
    background-color: var(--cor-footer);
}
footer .container {
    background-color: var(--cor-footer);
    padding: 1rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    padding: 1rem;
}
.footer-content ul {
    list-style: none;
    padding: 0;
}
.footer-content li {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor-container);

}
.footer-content a {
    font-family: 'Times New Roman', Times, serif;
    margin: 5px 0px;
}
.footer-content a:hover {
    color: var(--cor-container)
}
.redesocial p {
    color: var(--cor-container);
}
.redesocial {
    display: flex;
    gap: 20px;
    align-items: center;
}
.rodape-assinatura {
    background-color: #302f2f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8rem;
}




